

.card-container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: auto;
    gap: 20px;
    flex-wrap: wrap;

}



.card {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 350px;
    align-items: center;
    border: 2px solid black;
    padding: 15px;
   



}


.card > img {
    aspect-ratio: 1 / 1;
    width: 80px;
    height: auto;
    object-fit: cover;
    border-radius: 40px;
}

.card > p {
    margin-top: 0px;
    text-align: center;
  
}
.card > h1 {
    font-size: large;
    font-weight: bold;
}

.card > button {
    background-color: rgb(129, 121, 121);
    color: rgb(210, 219, 219) 255 255 1;
    border-radius: 15px;
    font-size: large;
    padding: 10px 30px 10px 30px;
}